.line-place-list {
  display: flex;
  flex: 1;
  align-items: center;;
}

.line-place-item {
  margin: 0 27px;
  font-size: 14px;
  white-space: nowrap;
  color: #ffc9cf;
  &.active {
    font-size: 16px;
    color: #fff;
  }
}
