.button-tick {
  opacity: 0;
  padding: 16px;
  transition: opacity .2s ease;
}

.button-search-tick {
  margin: -12px;
}

.button-place-toggle {
  position: relative;
  display: block;
  width: 100%;
  height: 7px;
  background: rgba(235, 75, 92, 0.60);
}

.place-list-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 50%;
  overflow: hidden;
  overflow-y: auto;
}

.place-list {
  background-color: #fff;
}

.place-item {
  overflow: hidden;
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #f5f5f5;
  &.active {
    .place-item-number,
    .place-title {
      color: #eb4c5d;
    }
    .button-tick {
      opacity: 1;
    }
  }
}

.place-item-status {
  font-size: 12px;
  color: #a0a0a0;
}

.place-item-number {
  margin-right: 5px;
  font-size: 15px;
  line-height: 21px;
  color: #525252;
}

.place-content {
  flex: 1;
}
