.place-search-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .place-list-container {
    bottom: 48px;
  }
  .place-map {
    width: 100%;
    height: 100%;
  }
}

