.place-select-list {
  display: flex;
}

.place-select-item {
  position: relative;
  margin: 0 6px;
  padding: 6px 16px;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
  white-space: nowrap;
  color: #525252;
  background-color: rgba(255, 255, 255, .9);
}

.button-place-close {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  background: transparent url(/static/images/btn_shanchuhui2x.png) no-repeat 0 0;
  background-size: 16px 16px;
}
