@import "components/styles/PlaceCard";
html,
body {
  width: 100%;
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
}

.search-bar {
  z-index: 1000;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
}
.search-bar-icon {
  position: absolute;
  left: 12%;
  top: 12px;
}
.search-bar-input {
  flex: 1;
  padding: 5px 8px 5px 18%;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
}
.search-bar-button {
  margin-right: -12px;
  padding: 0 12px;
  font-size: 16px;
  color: #a0a0a0;
}

.search-bar--focus .search-bar-icon {
  left: 24px;
}
.search-bar--focus .search-bar-input {
  padding-left: 38px;
}
