<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <meta name="keywords" content="$!seo_keywords">
  <meta name="description" content="$!seo_description">
  <link rel="stylesheet" href="static/css/common.css">
  <link rel="stylesheet" href="static/css/myFootprints2.css">
</head>
<body>
<div class="my-photo">
  <img class="photo" width="50" height="50" src="" alt=""/>
</div>
<div class="my-name">
  Angela Aguilar
</div>
<div class="summary">
  我去过2国家 124个目的地
</div>
<div class="route-list">
  <div class="route-time">2016</div>
  <section class="cd-container">
    <div class="cd-timeline-block">
      <div class="dot"></div>
      <div class="cd-timeline-content">
        <span class="month1">06月</span>
        <p class="destination">甲米、苏梅岛、清迈</p>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="dot"></div>
      <div class="cd-timeline-content">
        <span class="month1">05月</span>
        <p class="destination">杭州、苏州</p>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="dot"></div>
      <div class="cd-timeline-content">
        <span class="month1">07月</span>
        <p class="destination">马尔代夫</p>
      </div>
    </div>
  </section>

  <div class="route-time">2015</div>
  <section class="cd-container">
    <div class="cd-timeline-block">
      <div class="dot"></div>
      <div class="cd-timeline-content">
        <span class="month1">02月</span>
        <p class="destination">甲米、苏梅岛、清迈</p>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="dot"></div>
      <div class="cd-timeline-content">
        <span class="month1">04月</span>
        <p class="destination">杭州、苏州</p>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="dot"></div>
      <div class="cd-timeline-content">
        <span class="month1">06月</span>
        <p class="destination">马尔代夫</p>
      </div>
    </div>
  </section>
</div>
<a class="btn-footprints-map" href="">
  <i class="icon icon-heart-fill"></i>
</a>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/recommend.js"></script>
</body>
</html>