<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link
    href="//s-test.lvbaoyou.com/static/debug/css/common.css?_=7VJxMQ9bVC"
    rel="stylesheet">
  <link
    href="//s-test.lvbaoyou.com/static/debug/css/nearby.css?_=7VJxMQ9bVC"
    rel="stylesheet">
  <script>
    var jsConfig = {
      poiId: '7783913',
      poiGroup: '2',
      source: 'MFW',
      poiType: 'play',
      placeTypesList: [
        {
          iconName: 'eat',
          type: 'eat',
          name: '餐饮'
        },
        {
          iconName: 'room',
          type: 'hotel',
          name: '住宿'
        },
        {
          iconName: 'scenic',
          type: 'point',
          name: '景点'
        },
        {
          iconName: 'shop',
          type: 'buy',
          name: '购物'
        },
        {
          iconName: 'traffic',
          type: 'traffic',
          name: '交通'
        }
      ]
    };
  </script>
</head>
<body>
<app></app>
<script type="text/javascript"
        src="//s-test.lvbaoyou.com/static/debug/js/manifest.js?_=7VJxMQ9bVC"></script>
<script type="text/javascript"
        src="//s-test.lvbaoyou.com/static/debug/js/vendor.js?_=7VJxMQ9bVC"></script>
<script
  src="//ditu.google.cn/maps/api/js?key=AIzaSyDTRssztB6WWW86lgwKyXQzUreY-hfkaMA&language=zh-CN"></script>
<script
  src="//s-test.lvbaoyou.com/static/debug/js/map/lib/infobubble.js?_=7VJxMQ9bVC">
</script>
<script type="text/javascript"
        src="http://localhost:8080/nearby.js"></script>
</body>
</html>
