@import "../../../components/styles/extrainfo";
@import "../../../styles/components/Cover";

body {
  -webkit-text-size-adjust: 100%;
}

.head {
  position: relative;
  overflow: hidden;
  height: 160px;
  margin-top: 0;
  background-size: 100% 160px;
  p {
    text-align: center;
  }
  .routes-title {
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
  }
  .routes-attractions {
    font-size: 11px;
    color: #969696;
  }
  .author {
    text-align: center;
    margin-top: 10px;
    img {
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .extra-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 10px;
    color: #a4a4a4;
    padding: 16px 20px 14px 20px;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.90);
    .important-information {
      span {
        margin-right: 12px;
        display: inline-block;
        white-space: nowrap;
      }
    }
    .tags {
      margin-top: 4px;
      .tag-item {
        border: 1px solid #a0a0a0;
        border-radius: 3px;
        padding-left: 7px;
        padding-right: 7px;
        margin-right: 6px;
      }
    }
  }
}

.introduction {
  padding: 15px 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-size: 13px;
}

.remark {
  padding: 5px 12px 0 12px;
  color: #a0a0a0;
  font-size: 11px;
}

#cd-timeline {
  position: relative;
  .lineGethers {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 12px;
      height: 100%;
      width: 1px;
      background: #b7c0c8;
    }
  }
  .cd-timeline-block {
    position: relative;
    margin: 0 12px 10px;
    padding-left: 10px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .dot {
      position: absolute;
      top: 6px;
      left: -3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #b7c0c8;
    }
    .recommend-head {
      display: flex;
      display: -webkit-flex;
      .sign-container {
        margin-right: 6px;
        padding: 4px 0;
        .sign {
          text-align: center;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          color: #fff;
          font-size: 16px;
        }
        .play {
          background-color: #70c366;
        }
        .eat {
          background-color: #f38940;
        }
        .live {
          background-color: #90d6ce;
        }
        .shopping {
          background-color: #c45ca5;
        }
        .traffic {
          background-color: #57646e;
        }
      }
      .recommend-title {
        .name {
          font-size: 13px;
          color: #525252;
        }
        .position {
          font-size: 10px;
          color: #a0a0a0;
          .address {
            margin-left: 4px;
          }
        }
      }
    }
    .recommend-detail {
      margin-top: 8px;
      border: 0.5px solid #dcdcdc;
      border-radius: 6px;
      padding: 12px;
      .detail-info {
        color: #a0a0a0;
        font-size: 10px;
      }
    }
  }
  .cd-timeline-block {
    .special-note {
      background-color: #f5f5f5;
      padding: 15px 12px;
      font-size: 10px;
      color: #a0a0a0;
      border-radius: 6px;
      box-shadow: 0 1px 1px 0;
      border: #dcdcdc;
    }
  }
}

