@font-face {
  font-family: 'iconfont';  /* project idï¼š"176472" */
  src: url('//at.alicdn.com/t/font_uq7t34ca41g4lsor.eot');
  src: url('//at.alicdn.com/t/font_uq7t34ca41g4lsor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_uq7t34ca41g4lsor.woff') format('woff'),
  url('//at.alicdn.com/t/font_uq7t34ca41g4lsor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_uq7t34ca41g4lsor.svg#iconfont') format('svg');
}

.icon {
  font-size: 16px;
  font-family: "iconfont" !important;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: #b7c0c8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-fill:before {
  content: "\e611";
}

.icon-flag:before {
  content: "\e60b";
}

.icon-image:before {
  content: "\e600";
}

.icon-category:before {
  content: "\e607";
}

.icon-star:before {
  content: "\e601";
}

.icon-weather:before {
  content: "\e60f";
}

.icon-location:before {
  content: "\e605";
}

.icon-bus:before {
  content: "\e609";
}

.icon-telephone:before {
  content: "\e603";
}

.icon-clock:before {
  content: "\e60c";
}

.icon-address:before {
  content: "\e606";
}

.icon-add:before {
  content: "\e60e";
}

.icon-arrow-right:before {
  content: "\e60a";
}

.icon-search:before {
  content: "\e60d";
}

.icon-tick:before {
  content: "\e608";
}

.icon-place-recommend:before {
  content: "\e610";
}

.icon-place-remove:before {
  content: "\e616";
}

.icon.ditu:before {
  content: "\e617";
}

.icon-types-eat:before {
  content: "\e602";
}

.icon-types-room:before {
  content: "\e612";
}

.icon-types-scenic:before {
  content: "\e615";
}

.icon-types-shop:before {
  content: "\e614";
}

.icon-types-traffic:before {
  content: "\e613";
}
