.pas {
  padding: 6px;
}

.pam {
  padding: 12px;
}

.pal {
  padding: 24px;
}

.pts {
  padding-top: 6px;
}

.ptm {
  padding-top: 12px;
}

.ptl {
  padding-top: 24px;
}

.prs {
  padding-right: 6px;
}

.prm {
  padding-right: 12px;
}

.prl {
  padding-right: 24px;
}

.pbs {
  padding-bottom: 6px;
}

.pbm {
  padding-bottom: 12px;
}

.pbl {
  padding-bottom: 24px;
}

.pls {
  padding-left: 6px;
}

.plm {
  padding-left: 12px;
}

.pll {
  padding-left: 24px;
}

.phs {
  padding-left: 6px;
  padding-right: 6px;
}

.phm {
  padding-left: 12px;
  padding-right: 12px;
}

.phl {
  padding-left: 24px;
  padding-right: 24px;
}

.pvs {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pvm {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pvl {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mas {
  margin: 6px;
}

.mam {
  margin: 12px;
}

.mal {
  margin: 24px;
}

.mts {
  margin-top: 6px;
}

.mtm {
  margin-top: 12px;
}

.mtl {
  margin-top: 24px;
}

.mrs {
  margin-right: 6px;
}

.mrm {
  margin-right: 12px;
}

.mrl {
  margin-right: 24px;
}

.mbs {
  margin-bottom: 6px;
}

.mbm {
  margin-bottom: 12px;
}

.mbl {
  margin-bottom: 24px;
}

.mls {
  margin-left: 6px;
}

.mlm {
  margin-left: 12px;
}

.mll {
  margin-left: 24px;
}

.mhs {
  margin-left: 6px;
  margin-right: 6px;
}

.mhm {
  margin-left: 12px;
  margin-right: 12px;
}

.mhl {
  margin-left: 24px;
  margin-right: 24px;
}

.mvs {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mvm {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mvl {
  margin-top: 24px;
  margin-bottom: 24px;
}
