@import "../../components/styles/extrainfo";

body {
  margin-bottom: 49px;
}

.recommend-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.recommend-form {
  padding: 20px 12px 0px 12px;
  width: 100%;
  textarea {
    width: 100%;
    word-break: break-all;
    padding: 0 8px 0 8px;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    outline: none;
    color: #5a5a5a;
    font-size: 15px;
  }
}

.recommend-place {
  display: flex;
  display: -webkit-flex;
  font-size: 15px;
  line-height: 42px;
  span a {
    display: inline-block;
    .icon {
      font-size: 15px;
      color: #c8c7cc;
    }
  }
  .place-name {
    flex: 1;
    -webkit-flex: 1;
  }
}

.refer-recommend {
  border-top: #dae1e7;
  background-color: #f5f5f5;
  padding-bottom: 4px;
  .title {
    font-size: 13px;
    color: #a0a0a0;
    padding: 16px 0 12px 12px;
  }
}
