@import "../../../components/styles/extrainfo";
body {
  -webkit-text-size-adjust: 100%;
  padding-bottom: 49px;
}

.recommend-head {
  position: relative;
  margin: 8px 0 13px;
  padding: 0 16px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
  }
}

.recommend-title {
  z-index: 1;
  position: relative;
  display: inline-block;
  height: 36px;
  padding: 6px 0;
  border-bottom: 1px solid #eb4c5d;
  line-height: 24px;
  font-size: 13px;
  color: #525252;
}
