<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <title>个人主页</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script>
    var jsConfig = {
      user: {
        "avatar": "http://img.zcool.cn/community/01b6a355fbea206ac7251df8fda889.png",
        "mark": "expert",
        "mobile": "15222918077",
        "name": "托尼史塔克",
        "birthday": "1999",
        "nickname": "钢铁侠",
        "place": "浙江 杭州",
        "slogan": "跟我走，我有战甲和红酒！",
        "summary": "十五岁时就进入麻省理工学院电子工程系大学部就读并以最高分毕业，20岁拥有的斯塔克企业，知名的慈善家，复仇者联盟核心成员",
        "userId": 90
      },
      eventsInfo: {
        "countryCount": 5,
        "targetCount": 10
      },
      lineList: {
        "count": 1,
        "list": [
          {
            "bestTimes": [
              "一月"
            ],
            "cost": 300,
            "coverImageUrl": "http://n2-q.mafengwo.net/s7/M00/98/7D/wKgB6lRNvRyAK7ZBAAok_hfMBSw95.jpeg",
            "createTime": 1478607173000,
            "createUser": {
              "avatar": "http://img.zcool.cn/community/01b6a355fbea206ac7251df8fda889.png",
              "email": "45371835@qq.com",
              "gender": 1,
              "mobile": "15222918077",
              "nickname": "钢铁侠",
              "slogan": "跟我走，我有战甲和红酒！",
              "summary": "安东尼·爱德华·“托尼”·斯塔克（Anthony Edward “Tony” Stark），是斯塔克工业（STARK INDUSTRIES）的董事长，因于一场阴谋绑架中，胸部遭弹片穿入，生命危在旦夕，为了挽救自己的生命，在同被绑架的物理学家殷森（Yin Sen）的协助下托尼造出了防止弹片侵入心脏的方舟反应炉，从而逃过一劫，后又利用方舟反应炉作为能量运转的来源，暗中制造了一套高科技装甲，并利用其杀出重围后逃脱，从此化身“钢铁侠”守卫世界。",
              "userId": 1
            },
            "dayCount": 2,
            "lineId": "IRD5AqoAQtuXCMCGMLJ1zQ",
            "remark": "分为迪士尼乐园(東京ディズニーランド / Tokyo Disneyland)除了娱乐设施，园内的表演和盛装游行也非常精彩。    展开",
            "tags": [
              "自由行"
            ],
            "title": "line1",
            "viewRight": "private"
          },
          {
            "bestTimes": [
              "一月"
            ],
            "cost": 300,
            "coverImageUrl": "http://n2-q.mafengwo.net/s7/M00/98/7D/wKgB6lRNvRyAK7ZBAAok_hfMBSw95.jpeg",
            "createTime": 1478607173000,
            "createUser": {
              "avatar": "http://img.zcool.cn/community/01b6a355fbea206ac7251df8fda889.png",
              "email": "45371835@qq.com",
              "gender": 1,
              "mobile": "15222918077",
              "nickname": "钢铁侠2",
              "slogan": "SDADASADADSADSDDDDD！",
              "summary": "安东尼·爱德华·“托尼”·斯塔克（Anthony Edward “Tony” Stark）",
              "userId": 1
            },
            "dayCount": 2,
            "lineId": "IRD5AqoAQtuXCMCGMLJ1zQ",
            "remark": "分为迪士尼乐园(東京ディズニーランド / Tokyo Disneyland)除了娱乐设施，园内的表演和盛装游行也非常精彩。    展开",
            "tags": [
              "自由行"
            ],
            "title": "line1",
            "viewRight": "private"
          }
        ],
        "nextIndex": 20,
        "startIndex": 0
      }
    };
  </script>
</head>
<body>
<app></app>
</body>
</html>
